@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Mouse+Memoirs&display=swap");
@import url("./parciales/_beneficios.scss");
@import url("./parciales/_contacto.scss");
@import url("./parciales/_servicios.scss");
@import url("./parciales/_ayuda.scss");
@import url("./parciales/_home.scss");


*{
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}

$color1: red;
$color2: aquamarine;
$color3: blue;
$color4: black;
$color5: white;

$tamaño1: 12px;
$tamaño2: 20px;
$tamaño3: 26px;
$tamaño4: 28px;
$tamaño5: 30px;
$tamaño6: 40px;

$var1: 100%;
$var2: 75%;
$var3: 50%;
$var4: 25%;

$fuente1: "Kanit", sans-serif;
$fuente2: "Times New Roman", Times, serif;
$fuente3: Arial, Helvetica, sans-serif;
$fuente4: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
$fuente5: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

body {
  background-image: url(./multimedia/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

header {
  background-color: $color2;
  color: $color4;
  border: $tamaño1 solid $color4;
  font-size: $tamaño2;
  width: auto;
  height: auto;
  border-radius: $tamaño1;
  font-family: "Kanit", sans-serif;
}

header h1 {
  color: $color4;
  text-decoration: underline;
  font-style: normal;
  font-weight: bolder;
  text-align: center;
  text-decoration-style: solid;
  text-shadow: 1px 1px 5px $color1;
  font-family: "Kanit", sans-serif;
  font-size: $tamaño6;
  text-transform: capitalize;
}

header h1::selection {
  color: $color1;
}

header h2 {
  color: $color4;
  font-size: $tamaño3;
  font-style: normal;
  text-decoration: underline;
  font-weight: bolder;
  text-align: left;
  text-shadow: 1px 1px 5px $color1;
  font-family: "Kanit", sans-serif;
  text-transform: capitalize;
}

header h2::selection {
  color: $color1;
}

header ul li {
  font-size: $tamaño3;
  font-style: normal;
  font-weight: bolder;
}

header .barra li {
  list-style-type: none;
  display: inline-block;
}

header .barra a {
  text-decoration: none;
  text-shadow: 1px 1px 5px $color4;
  text-transform: capitalize;
}

header .barra a:hover {
  color: $color4;
}

main h2 {
  color: $color4;
  font-size: $tamaño3;
  font-style: normal;
  text-decoration: underline;
  font-weight: bolder;
  text-align: left;
  text-shadow: 1px 1px 5px $color1;
  font-family: "Kanit", sans-serif;
  text-transform: capitalize;
}

main h2::selection {
  color: $color1;
}

main .parrafo1 {
  color: $color4;
  background-color: $color2;
  border: $tamaño1 solid $color4;
  font-size: $tamaño2;
  padding: $tamaño2;
  height: auto;
  width: auto;
  border-radius: $tamaño1;
}

main .parrafo2 {
  color: $color4;
  background-color: $color2;
  border: $tamaño1 solid $color4;
  font-size: $tamaño2;
  padding: $tamaño2;
  height: auto;
  width: auto;
  border-radius: $tamaño1;
}

main .video1 {
  border: $tamaño1 solid $color3;
  padding: 0;
  border-radius: $tamaño1;
}

main .video2 {
  border: $tamaño1 solid $color3;
  padding: 0;
  border-radius: $tamaño1;
}

main .imagen1 {
  border: $tamaño1 solid $color3;
  padding: 0;
  border-radius: $tamaño1;
}

main .imagen2 {
  border: $tamaño1 solid $color3;
  padding: 0;
  border-radius: $tamaño1;
}

main .imagen3 {
  border: $tamaño1 solid $color3;
  padding: 0;
  border-radius: $tamaño1;
}

main .titulogaleria {
  text-align: left;
  text-shadow: 1px 1px 5px $color1;
  font-size: $tamaño5;
  font-family: "Kanit", sans-serif;
  text-decoration: underline;
  color: $color4;
  font-weight: bolder;
  font-size: $tamaño3;
  text-transform: capitalize;
}

main .galeria {
  display: grid;
  width: $var1;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 200px);
  grid-gap: $tamaño2;
  min-height: 100vh;
  padding: 10px;
}

main .item {
  width: $var1;
  background-color: $color4;
  border: 10px solid dark $color3;
  filter: grayscale($var1);
  border-radius: $tamaño1;
  box-shadow: 1px 1px 5px $color1;
}

main .item:hover {
  transform: scale(1, 1);
  transition: all 0, 8s;
  filter: grayscale(0%);
}

main .item1 {
  background-image: url(./multimedia/audi.jpg);
  background-position: center;
  background-size: cover;
  width: 40vh !important;
}

main .item2 {
  background-image: url(./multimedia/audi.jpg);
  background-position: center;
  background-size: cover;
  width: 40vh !important;
}

main .item3 {
  background-image: url(./multimedia/audi.jpg);
  background-position: center;
  background-size: cover;
  width: 40vh !important;
}

main .item4 {
  background-image: url(./multimedia/corvette.jpg);
  background-position: center;
  background-size: cover;
  width: 40vh !important;
}

main .item5 {
  background-image: url(./multimedia/audi.jpg);
  background-position: center;
  background-size: cover;
  width: 40vh !important;
}

main .item6 {
  background-image: url(./multimedia/audi.jpg);
  background-position: center;
  background-size: cover;
  width: 40vh !important;
}

main .item7 {
  background-image: url(./multimedia/audi.jpg);
  background-position: center;
  background-size: cover;
  width: 40vh !important;
}

main .item8 {
  background-image: url(./multimedia/audi.jpg);
  background-position: center;
  background-size: cover;
  width: 40vh !important;
}

main .item9 {
  background-image: url(./multimedia/audi.jpg);
  background-position: center;
  background-size: cover;
  width: 40vh !important;
}

main .item10 {
  background-image: url(./multimedia/audi.jpg);
  background-position: center;
  background-size: cover;
  width: 40vh !important;
}

main .item11 {
  background-image: url(./multimedia/audi.jpg);
  background-position: center;
  background-size: cover;
  width: 40vh !important;
}

main .item12 {
  background-image: url(./multimedia/audi.jpg);
  background-position: center;
  background-size: cover;
  width: 40vh !important;
}

footer {
  background-color: $color2;
  color: $color4;
  border: $tamaño1 solid $color4;
  font-size: $tamaño2;
  width: auto;
  height: auto;
  border-radius: $tamaño1;
}

footer h3 {
  color: $color4;
  font-size: $tamaño3;
  font-style: normal;
  text-decoration: underline;
  font-weight: bolder;
  text-shadow: 1px 1px 5px $color1;
  font-family: "Kanit", sans-serif;
  text-transform: capitalize;
}

footer h3::selection {
  color: $color1;
}

footer #Instagram01,
footer #Whatsapp03,
footer #Facebook02 {
  text-decoration: underline;
  font-weight: bolder;
  font-variant: normal;
}

.bodyhome {
  background-image: url(./multimedia/fondo.jpg);
  background-position: center;
  background-size: cover;
}

.headerhome {
  background-color: $color2;
  color: $color4;
  border: $tamaño1 solid $color4;
  font-size: $tamaño2;
  width: auto;
  height: auto;
  border-radius: $tamaño1;
  font-family: "Kanit", sans-serif;
  margin: 15px;
}

.headerhome .titulo1home {
  color: $color4;
  text-decoration: underline;
  font-style: normal;
  font-weight: bolder;
  text-align: center;
  text-decoration-style: solid;
  text-shadow: 1px 1px 5px $color1;
  font-family: "Kanit", sans-serif;
  font-size: $tamaño6;
  text-transform: capitalize;
}

.headerhome .titulo1home::selection {
  color: $color1;
}

.headerhome .navbar {
  background-color: $color2;
  color: $color4;
  text-shadow: 1px 1px 5px $color1;
  text-transform: capitalize;
  height: auto;
}

div h1 {
  color: $color4;
  text-decoration: underline;
  font-style: normal;
  font-weight: bolder;
  text-align: center;
  text-decoration-style: solid;
  text-shadow: 1px 1px 5px $color1;
  font-family: "Kanit", sans-serif;
  font-size: $tamaño6;
  text-transform: capitalize;
}

div h1::selection {
  color: $color1;
}

div .jumbotron {
  background-image: url(./multimedia/escarabajorojo.jpg);
  background-position: center;
  background-size: cover;
  height: $var1;
  width: 80%;
}

div .titulojumbotron {
  font-size: $tamaño2;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  text-shadow: 0px 0px 5px $color4;
  color: $color2;
  text-decoration: none;
}

div .parrafojumbotron {
  font-size: $tamaño4;
  font-family: Arial, Helvetica, sans-serif;
  color: $color1;
  font-weight: bold;
}

div .parrafojumbotron::selection {
  color: darkturquoise;
}

div .btn-info {
  color: $color4;
  text-transform: capitalize;
  font-weight: bold;
  font-family: "Kanit", sans-serif;
}

div .btn-info:hover {
  color: $color3;
  background-color: $color4;
}

h1 {
  color: $color4;
  text-decoration: underline;
  font-style: normal;
  font-weight: bolder;
  text-align: center;
  text-decoration-style: solid;
  text-shadow: 1px 1px 5px $color1;
  font-family: "Kanit", sans-serif;
  font-size: $tamaño6;
  text-transform: capitalize;
}

h1::selection {
  color: $color1;
}
div{
  .carrouselhometitulo{
    text-align: center;
    text-transform: capitalize;
    font-size: $tamaño6;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .carrouselhomeparrafo{
    text-align: center;
    text-transform: capitalize;
    font-size: $tamaño3;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: $color3;
    font-style: oblique;
  }
  .carrouselhomeparrafo::selection{
    color: red;
  }

  .carousel-indicators li{
    height: 5vh;
    width: 5vh;
    border-radius: $var3;
    border: 2px solid aqua;
}
}


.footerhome {
  background-color: $color2;
  color: $color4;
  border: $tamaño1 solid $color4;
  font-size: $tamaño2;
  width: auto;
  height: auto;
  border-radius: $tamaño1;
}

.footerhome .titulo2home {
  color: $color4;
  font-size: $tamaño3;
  font-style: normal;
  text-decoration: underline;
  font-weight: bolder;
  text-shadow: 1px 1px 5px $color1;
  font-family: "Kanit", sans-serif;
  text-transform: capitalize;
}

.footerhome .titulo2home::selection {
  color: $color1;
}

.footerhome #instagramhome,
.footerhome .whatsapphome,
.footerhome .facebookhome {
  text-decoration: underline;
  font-weight: bolder;
  font-variant: normal;
}

.footerhome .titulo3home {
  color: $color4;
  font-size: $tamaño3;
  font-style: normal;
  text-decoration: underline;
  font-weight: bolder;
  text-shadow: 1px 1px 5px $color1;
  font-family: "Kanit", sans-serif;
  text-transform: capitalize;
}

.footerhome .titulo3home::selection {
  color: $color1;
}

header h1 {
  color: $color4;
  text-decoration: underline;
  font-style: normal;
  font-weight: bolder;
  text-align: center;
  text-decoration-style: solid;
  text-shadow: 1px 1px 5px $color1;
  font-family: "Kanit", sans-serif;
  font-size: $tamaño6;
  text-transform: capitalize;
}

header h1::selection {
  color: $color1;
}

header .navbar {
  background-color: $color2;
  color: $color4;
  text-shadow: 1px 1px 5px $color1;
  text-transform: capitalize;
  height: auto;
}

header .btn-info {
  color: $color4;
  text-transform: capitalize;
  font-weight: bold;
  font-family: "Kanit", sans-serif;
}

header .btn-info:hover {
  color: $color3;
  background-color: $color4;
}

h2 {
  color: $color4;
  font-size: $tamaño3;
  font-style: normal;
  text-decoration: underline;
  font-weight: bolder;
  text-align: left;
  text-shadow: 1px 1px 5px $color1;
  font-family: "Kanit", sans-serif;
  text-transform: capitalize;
}

h2::selection {
  color: $color1;
}

form {
  font-size: $tamaño2;
  font-family: "Kanit", sans-serif;
  text-shadow: 1px 1px 5px $color1;
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
  text-decoration-color: $color4;
  text-transform: capitalize;

  .tituloformulario{
    color: rgb(252, 252, 252);
    text-transform: capitalize;
    font-size: $tamaño2;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 0px 0px 5px black;
  }

  .formulario{
    width: $var3;
    height: $var3;
  }
}

h3 {
  color: $color4;
  font-size: $tamaño3;
  font-style: normal;
  text-decoration: underline;
  font-weight: bolder;
  text-shadow: 1px 1px 5px $color1;
  font-family: "Kanit", sans-serif;
  text-transform: capitalize;
}

h3::selection {
  color: $color1;
}

section div .card-title {
  text-align: left;
  font-size: $tamaño2;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: underline;
  text-transform: capitalize;
}

section div .card-title::selection {
  color: $color1;
}

section div .card-text {
  text-align: left;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  font-weight: bold;
  font-style: oblique;
}

section div .card-text::selection {
  color: $color1;
}

section div .btn-primary {
  color: $color5;
  background-color: $color3;
  text-transform: capitalize;
}

.footercontacto {
  background-color: $color2;
  color: $color4;
  border: $tamaño1 solid $color4;
  font-size: $tamaño2;
  width: auto;
  height: auto;
  border-radius: $tamaño1;
}

.footercontacto h3 {
  color: $color4;
  font-size: $tamaño3;
  font-style: normal;
  text-decoration: underline;
  font-weight: bolder;
  text-shadow: 1px 1px 5px $color1;
  font-family: "Kanit", sans-serif;
  text-transform: capitalize;
}

.footercontacto h3::selection {
  color: $color1;
}

.footercontacto #instagramcontacto,
.footercontacto #whatsappcontacto,
.footercontacto #facebookcontacto {
  text-decoration: underline;
  font-weight: bolder;
  font-variant: normal;
}

.footercontacto .titulo4contacto {
  color: $color4;
  font-size: $tamaño3;
  font-style: normal;
  text-decoration: underline;
  font-weight: bolder;
  text-shadow: 1px 1px 5px $color1;
  font-family: "Kanit", sans-serif;
  text-transform: capitalize;
}

.footercontacto .titulo4contacto::selection {
  color: $color1;
}

.bodyservicios {
  background-image: url(./multimedia/fondo.jpg);
  background-position: center;
  background-size: cover;
}

.bodyservicios .headerservicios {
  background-color: $color2;
  color: $color4;
  border: $tamaño1 solid $color4;
  font-size: $tamaño2;
  width: auto;
  height: auto;
  border-radius: $tamaño1;
  font-family: "Kanit", sans-serif;
  margin: 15px;
}

.bodyservicios .titulo1servicios {
  color: $color4;
  text-decoration: underline;
  font-style: normal;
  font-weight: bolder;
  text-align: center;
  text-decoration-style: solid;
  text-shadow: 1px 1px 5px $color1;
  font-family: "Kanit", sans-serif;
  font-size: $tamaño6;
  text-transform: capitalize;
}

.bodyservicios .titulo1servicios::selection {
  color: $color1;
}

.bodyservicios .navbar {
  background-color: $color2;
  color: $color4;
  text-shadow: 1px 1px 5px $color1;
  text-transform: capitalize;
  height: auto;
}

.bodyservicios .btn-info {
  color: $color4;
  text-transform: capitalize;
  font-weight: bold;
  font-family: "Kanit", sans-serif;
}

.bodyservicios .btn-info:hover {
  color: $color3;
  background-color: $color4;
}

main .h2servicios {
  color: $color4;
  font-size: $tamaño3;
  font-style: normal;
  text-decoration: underline;
  font-weight: bolder;
  text-align: left;
  text-shadow: 1px 1px 5px $color1;
  font-family: "Kanit", sans-serif;
  text-transform: capitalize;
}

main h2servicios::selection {
  color: $color1;
}

main .parrafo1servicios {
  color: $color4;
  background-color: $color2;
  border: $tamaño1 solid $color4;
  font-size: $tamaño2;
  padding: $tamaño2;
  height: auto;
  width: auto;
  border-radius: $tamaño1;
}

main .listaservicios {
  background-color: $color2;
  color: $color4;
  font-size: $tamaño2;
  padding: $tamaño5;
  border: $tamaño1 solid $color4;
  border-radius: $tamaño1;
  margin: $tamaño2;
}

.imagenesservicios {
  color: $color4;
  font-size: $tamaño3;
  font-style: normal;
  text-decoration: underline;
  font-weight: bolder;
  text-shadow: 1px 1px 5px $color1;
  font-family: "Kanit", sans-serif;
  text-transform: capitalize;
}

.cajaservicios {
  display: grid;
  width: $var1;
  height: 100vh;
  padding: 10px;
  margin: $tamaño1;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 200px);
}

.caja {
  border: $tamaño1 solid $color3;
  color: $color5;
  width: 80%;
  height: $var1;
  border-radius: $tamaño1;
  background-color: $color4;
  box-shadow: 1px 1px 5px $color1;
  filter: grayscale($var1);
}

.caja:hover {
  transition: all 0.7s;
  transform: scale(1, 1);
  filter: grayscale(0%);
}

.caja1 {
  background-image: url(./multimedia/audi.jpg);
  background-position: center;
  background-size: cover;
}

.caja2 {
  background-image: url(./multimedia/cambiarfiltroaceite.webp);
  background-position: center;
  background-size: cover;
}

.caja3 {
  background-image: url(./multimedia/neumaticos.jpg);
  background-position: center;
  background-size: cover;
}

.caja4 {
  background-image: url(./multimedia/bateria.jpg);
  background-position: center;
  background-size: cover;
}

.sec {
  width: $var1;
}

.carousel-indicators li {
  height: 5vh;
  width: 5vh;
  border-radius: $var3;
  border: 2px solid aqua;
}

.footerservicios {
  background-color: $color2;
  color: $color4;
  border: $tamaño1 solid $color4;
  font-size: $tamaño2;
  width: auto;
  height: auto;
  border-radius: $tamaño1;
}

.footerservicios .titulo2servicios {
  color: $color4;
  font-size: $tamaño3;
  font-style: normal;
  text-decoration: underline;
  font-weight: bolder;
  text-shadow: 1px 1px 5px $color1;
  font-family: "Kanit", sans-serif;
  text-transform: capitalize;
}

.footerservicios .titulos2servicios::selection {
  color: $color1;
}

.footerservicios #instagramservicios,
.footerservicios #whatsappservicios,
.footerservicios #facebookservicios {
  text-decoration: underline;
  font-weight: bolder;
  font-variant: normal;
}

.footerservicios .titulo3servicios {
  color: $color4;
  font-size: $tamaño3;
  font-style: normal;
  text-decoration: underline;
  font-weight: bolder;
  text-shadow: 1px 1px 5px $color1;
  font-family: "Kanit", sans-serif;
  text-transform: capitalize;
}

.footerservicios .titulos3servicios::selection {
  color: $color1;
}

header h1 {
  color: $color4;
  text-decoration: underline;
  font-style: normal;
  font-weight: bolder;
  text-align: center;
  text-decoration-style: solid;
  text-shadow: 1px 1px 5px $color1;
  font-family: "Kanit", sans-serif;
  font-size: $tamaño6;
  text-transform: capitalize;
}

header h1::selection {
  color: $color1;
}

header .navbar {
  background-color: $color2;
  color: $color4;
  text-shadow: 1px 1px 5px $color1;
  text-transform: capitalize;
  height: auto;
}

header .btn-info {
  color: $color4;
  text-transform: capitalize;
  font-weight: bold;
  font-family: "Kanit", sans-serif;
}

header .btn-info:hover {
  color: $color3;
  background-color: $color4;
}

main .cualesbeneficios {
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
  text-shadow: 1px 1px 5px $color1;
}

main .beneficio {
  height: 60px;
  width: 500px;
  background-color: aqua;
  text-align: center;
  font-size: $tamaño5;
  padding: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: 5px solid $color4;
}

main #beneficio1 {
  transition: height 2.7s;
}

main #beneficio1:hover {
  height: 300px;
  width: 500px;
}

main #beneficio2 {
  transition: height 2.7s;
}

main #beneficio2:hover {
  height: 300px;
  width: 500px;
}

main #beneficio3 {
  transition: height 2.7s, width 0.7s;
}

main #beneficio3:active {
  height: 200px;
  width: 800px;
}

main #beneficio4 {
  transition: all 2.7s;
}

main #beneficio4:hover {
  background-color: $color1;
  height: 100px;
  width: 800px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: $tamaño6;
  transition: all 2.7s;
}

.box {
  background-color: $color2;
  font-size: $tamaño2;
  color: $color4;
  text-align: center;
}

@mixin sizes($width, $height, $bcolor) {
  width: $width;
  height: $height;
  background-color: $bcolor;
}
.box1 {
  @include sizes(80%, 80%, $color2);
  border: $tamaño1 solid $color4;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.box2 {
  @include sizes(80%, 80%, $color2);
  border: $tamaño1 solid $color4;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.box3 {
  @include sizes(80%, 80%, $color2);
  border: $tamaño1 solid $color4;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.box4 {
  @include sizes(80%, 80%, $color2);
  border: $tamaño1 solid $color4;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

main .sec {
  width: $var1;
}

main .carousel-indicators li {
  height: 5vh;
  width: 5vh;
  border-radius: $var3;
  border: 2px solid aqua;
}

.footerbeneficios {
  background-color: $color2;
  color: $color4;
  border: $tamaño1 solid $color4;
  font-size: $tamaño2;
  width: auto;
  height: auto;
  border-radius: $tamaño1;
}

.footerbeneficios h3 {
  color: $color4;
  font-size: $tamaño3;
  font-style: normal;
  text-decoration: underline;
  font-weight: bolder;
  text-shadow: 1px 1px 5px $color1;
  font-family: "Kanit", sans-serif;
  text-transform: capitalize;
}

.footerbeneficios h3::selection {
  color: $color1;
}

.footerbeneficios #instagrambeneficios,
.footerbeneficios #whatsappbeneficios,
.footerbeneficios #facebookbeneficios {
  text-decoration: underline;
  font-weight: bolder;
  font-variant: normal;
}

.footerbeneficios .titulo4beneficios {
  color: $color4;
  font-size: $tamaño3;
  font-style: normal;
  text-decoration: underline;
  font-weight: bolder;
  text-shadow: 1px 1px 5px $color1;
  font-family: "Kanit", sans-serif;
  text-transform: capitalize;
}

.footerbeneficios .titulo4beneficios::selection {
  color: $color1;
}

header h1 {
  color: $color4;
  text-decoration: underline;
  font-style: normal;
  font-weight: bolder;
  text-align: center;
  text-decoration-style: solid;
  text-shadow: 1px 1px 5px $color1;
  font-family: "Kanit", sans-serif;
  font-size: $tamaño6;
  text-transform: capitalize;
}

header h1::selection {
  color: $color1;
}

header .navbar {
  background-color: $color2;
  color: $color4;
  text-shadow: 1px 1px 5px $color1;
  text-transform: capitalize;
  height: auto;
}

header .btn-info {
  color: $color4;
  text-transform: capitalize;
  font-weight: bold;
  font-family: "Kanit", sans-serif;
}

header .btn-info:hover {
  color: $color3;
  background-color: $color4;
}

section .ar {
  background-color: $color2;
  background-image: url(./multimedia/ayuda.jpg);
  background-position: center;
  background-size: cover;
  height: 80vh;
}

section .al {
  background-color: $color2;
  color: $color4;
  height: $var1;
}

section .tituloayuda {
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
  text-shadow: 1px 1px 5px $color1;
}

section .tituloayuda::selection {
  color: $color1;
}

section .parrafo1ayuda {
  font-size: $tamaño2;
  font-family: "Times New Roman", Times, serif;
  color: $color4;
}

section .parrafo1ayuda .listaayuda {
  font-size: $tamaño2;
  font-family: "Times New Roman", Times, serif;
  color: $color4;
  font-weight: 900;
}

$mapa: (
  10px: $color1,
  20px: $color3,
  30px: orange,
  40px: darkgreen,
  50px: $color4,
);

@each $font, $color in $mapa {
  .btn--#{$font} {
    background-color: $color2;
    color: $color;
    font-size: $font;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    height: 70%;
    width: $var1;
    border: 8px solid $color4;
    text-transform: uppercase;
  }
}

.footerayuda {
  background-color: $color2;
  color: $color4;
  border: $tamaño1 solid $color4;
  font-size: $tamaño2;
  width: auto;
  height: auto;
  border-radius: $tamaño1;
}

.footerayuda h3 {
  color: $color4;
  font-size: $tamaño3;
  font-style: normal;
  text-decoration: underline;
  font-weight: bolder;
  text-shadow: 1px 1px 5px $color1;
  font-family: "Kanit", sans-serif;
  text-transform: capitalize;
}

.footerayuda h3::selection {
  color: $color1;
}

.footerayuda #instagramayuda,
.footerayuda #whatsappayuda,
.footerayuda #facebookayuda {
  text-decoration: underline;
  font-weight: bolder;
  font-variant: normal;
}

.footerayuda .titulo4ayuda {
  color: $color4;
  font-size: $tamaño3;
  font-style: normal;
  text-decoration: underline;
  font-weight: bolder;
  text-shadow: 1px 1px 5px $color1;
  font-family: "Kanit", sans-serif;
  text-transform: capitalize;
}

.footerayuda .titulo4ayuda::selection {
  color: $color1;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .galeria {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 200px;
  }
  .item {
    width: 100vh;
    height: 100vh;
  }
  .video1 {
    border: $tamaño1 solid $color3;
    padding: 0;
    border-radius: $tamaño1;
    width: fit-content;
  }
  .video2 {
    border: $tamaño1 solid $color3;
    padding: 0;
    border-radius: $tamaño1;
    width: fit-content;
  }
  .imagen1 {
    border: $tamaño1 solid $color3;
    padding: 0;
    border-radius: $tamaño1;
    width: 300px;
  }
  .imagen2 {
    border: $tamaño1 solid $color3;
    padding: 0;
    border-radius: $tamaño1;
    width: 300px;
  }
  .imagen3 {
    border: $tamaño1 solid $color3;
    padding: 0;
    border-radius: $tamaño1;
    width: 300px;
  }
  .ubicacion {
    width: fit-content;
  }
  .cajaservicios {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: $var1;
  }
  .headerservicios {
    width: 150vh;
    height: auto;
  }
  .h2servicios {
    width: $var1;
    height: auto;
  }
  .parrafo1servicios {
    width: 150vh;
    height: auto;
  }
  .listaservicios {
    width: 150vh;
    height: auto;
  }
  .footerservicios {
    width: 150vh;
    height: auto;
  }
  .headerhome {
    width: 100vh;
    height: auto;
  }
  .footerhome {
    width: 120vh;
    height: auto;
  }
}
/*# sourceMappingURL=archivo.css.map */

/*# sourceMappingURL=archivo.scss.map */
