@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Mouse+Memoirs&display=swap');




*{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

$color1: red;
$color2: aquamarine;
$color3: blue;
$color4: black;
$color5: white;

$tamaño1: 12px;
$tamaño2: 20px;
$tamaño3: 26px;
$tamaño4: 28px;
$tamaño5: 30px;
$tamaño6: 40px;

$var1: 100%;
$var2: 75%;
$var3: 50%;
$var4: 25%;

$fuente1: 'Kanit', sans-serif;
$fuente2: 'Times New Roman', Times, serif;
$fuente3:  Arial, Helvetica, sans-serif;
$fuente4: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$fuente5:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


header{
    h1{
        color: $color4;
        text-decoration: underline;
        font-style: normal;
        font-weight: bolder;
        text-align: center;
        text-decoration-style: solid;
        text-shadow: 1px 1px 5px $color1;
        font-family: 'Kanit', sans-serif;
        font-size: $tamaño6;
        text-transform: capitalize;
    }
    h1::selection{
        color: $color1;
    }
    .navbar{
        background-color: $color2;
        color: $color4;
        text-shadow: 1px 1px 5px $color1;
        text-transform: capitalize;
        height: auto;
    }
    .btn-info{
        color: $color4;
        text-transform: capitalize;
        font-weight: bold;
        font-family: 'Kanit', sans-serif;
    }
    .btn-info:hover{
        color: $color3;
        background-color: $color4;
    }
}
main{
    .cualesbeneficios{
        text-align: center;
        font-size: 50px;
        text-decoration: underline;
        text-shadow: 1px 1px 5px $color1;
    }
    .beneficio{
        height: 60px;
        width: 500px;
        background-color: aqua;
        text-align: center;
        font-size: $tamaño5;
        padding: 10px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border: 5px solid $color4;
    }
    #beneficio1{
        transition: height 2.7s;
    }
    #beneficio1:hover{
        height: 300px;
        width: 500px;
    }
    #beneficio2{
        transition: height 2.7s;
    }
    #beneficio2:hover{
        height: 300px;
        width: 500px;
    }
    #beneficio3{
        transition: height 2.7s, width 0.7s;
    }
    #beneficio3:active{
        height: 200px;
        width: 800px;
    }
    #beneficio4{
        transition: all 2.7s;
    }
    #beneficio4:hover{
        background-color: $color1;
        height: 100px;
        width: 800px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: $tamaño6;
        transition: all 2.7s;
    }
    .sec{
        width: ($var2) + ($var4);
    }
    .carousel-indicators li{
        height: 5vh;
        width: 5vh;
        border-radius: $var3;
        border: 2px solid aqua;
    }
}
.footerbeneficios{
    background-color: $color2;
    color: $color4;
    border: $tamaño1 solid $color4;
    font-size: $tamaño2;
    width: auto;
    height: auto;
    border-radius: $tamaño1;

    h3{
        color: $color4;
        font-size: $tamaño3;
        font-style: normal;
        text-decoration: underline;
        font-weight: bolder;
        text-shadow: 1px 1px 5px $color1;
        font-family: 'Kanit', sans-serif;
        text-transform: capitalize;
    }
    h3::selection{
        color: $color1;
    }

    #instagrambeneficios{
        text-decoration: underline;
        font-weight: bolder;
        font-variant: normal; 
    }

    #facebookbeneficios{
        @extend #instagrambeneficios 
    }

    .titulo4beneficios{
        color: $color4;
        font-size: $tamaño3;
        font-style: normal;
        text-decoration: underline;
        font-weight: bolder;
        text-shadow: 1px 1px 5px $color1;
        font-family: 'Kanit', sans-serif;
        text-transform: capitalize;
    }

    .titulo4beneficios::selection{
        color: $color1;
    }

    #whatsappbeneficios{
        @extend #instagrambeneficios 
    }
}